---
id: introduction
title: Face
sidebar_label: Introduction
---

Authentication requires identification of the customer faces to validate user identity base on the provided information vs. the live captured information.

This includes face and other authentication method

## Introduction

Face service focuses on services that is related on the face module, this includes the ff services

- Search Face
- Face Indexing
- Bulk Face Indexing
- Compare Two Faces
